# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env
.db
*.db
*.log
cache/

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
.DS_Store

# Build files
frontend/node_modules/
frontend/dist/
